@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

html * {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}


.navbar {
    .nav-link {
        font-weight: 900 !important;
        ion-icon {
            position: relative;
            top: 5px;
            color: #f76e6e;
            font-size: 25px !important;
            animation: kalp 0.75s infinite ease-in-out;
          }
    }
    .navbar-brand {
        font-weight: 900 !important;
        ion-icon {
            position: relative;
            top: 5px;
            color: #f76e6e;
            font-size: 25px !important;
            animation: kalp 0.75s infinite ease-in-out;
          }
    }
}


.main {
    h1 {
        font-weight: 700 !important;
        font-size: 30px;
        ion-icon {
            position: relative;
            top: 3px;
            font-size: 30px;
        }
    }
    .table {
        ion-icon {
            position: relative;
            top: 3px;
        }
        tr {
            transition: all 0.25s ease-in-out;
            &:hover {
                transform: scale(0.95);
            }
        }
    }
    p {
        font-weight: 500;
        font-size: 16px;
        .en-dusuk {
            color: #d44242;
            font-size: 16px;
            font-weight: 700 !important;
        }
        .ortalama {
            color: #309b80;
            font-size: 16px;
            font-weight: 700 !important;
        }
    }
}

.rounded-tucish {
    border-radius: 20px;
}

.fw-bold {
    font-size: 15px !important;
}

@keyframes kalp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.30);
    }
    100% {
        transform: scale(1);
    }
}